{%extends "base.html"%}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
    <div class="container feed-section">
        <div class="row">
            <div class="col-md-1">
                {#        empty div#}
            </div>
            <div class="col-md-7">
                {% for image in images %}
                    <div class="feed-object">
                        <div class="card ">
                            <br>
                            <span><p><strong>&nbsp;&nbsp;&nbsp;<a href="{% url 'profile' user_id=image.owner.id %}" class="link">{{ image.owner }}</a></strong></p></span>
                            <img class="img-fluid element" src="{{ image.image.url }}" alt="{{ image.owner }}">
                            <img class="popUp"  src="{% static 'images/heart2.png' %}" alt="like popup">
                            <span class="like-icon"><img class="noti-icon" src="{% static 'images/notification.png' %}"></span>
                            <p><strong>&nbsp;<a href="{% url 'profile' user_id=image.owner.id %}" class="link">{{ image.owner }}</a></strong>&nbsp;{{ image.image_caption }}</p>
                            <form  action="{%url 'comment' image_id=image.id %}" method="post" enctype="multipart/form-data">
                                {%csrf_token%}
                                {% bootstrap_form comment%}
                            </form>
                            {% for comment in comments %}
                                {% if comment.image_id_id == image.id %}
                                    <p><strong>&nbsp;<a href="{% url 'profile' user_id=comment.commenter.id %}" class="link">{{ comment.commenter }}</a></strong> &nbsp; {{ comment.comment }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    <div>
                        <h1>You are either not following anybody or the people you are following have not posted any photos</h1>
                        <p>Try going to the <a href="/explore" >explore</a> page to discover new friends </p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="container-fluid fix-it">
                    <img class="img-fluid profile-image" src="{{ mine.profile_photo.url }}" alt="{{ mine.user.username }}">&nbsp;<strong>{{ mine.user.username }}</strong>
                    <hr>
                    <div class="users">
                        {% for profile in profiles %}
                            <div>
                                {% if profile.user.username != user.username %}
                                    <img class="img-fluid profile-image story" src="{{ profile.profile_photo.url }}" alt="{{ profile.user.username }}"><strong>&nbsp;&nbsp;<a class="link" href="{% url 'profile' user_id=profile.user.id %}" >{{ profile.user.username }}</a></strong>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>


{%endblock%}