{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid reg-cen">
        <div class="row">
            <div class="col-md-6 text-right">

                <img class="regisland" src="{% static 'images/regisland.png' %}" alt="registeraion landing photo">

            </div>

            {#                    .............................form.........................................#}
            <div class="col-md-3 regi-form">

                {% if form.errors %}
                    <p> Some Information Might be Incorrect </p>
                {% endif %}
                <div class="card card-default">

                    <div class="card-heading">
                        <h1 class="text-center my-font">Instagram</h1>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary " value="Sign Up">
                            </div>

                            <input type="hidden" name="next" value="{{next}}">

                        </form>
                        <p class="text-muted"><small>Already have an account? <a href="/accounts/login"> Login</a></small></p>
                    </div>


                    {#                    end of form#}


                    <div class="col-md-2">
                        {#                        empty div#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}