{%extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row profile-header">

            <div class="col-md-1">
                {#                an empty div for alignment#}
            </div>


            {#        profil photo#}
            <div class="col-md-3 text-center">
                <img class="img-fluid img-circle" src="{{ profile.profile_photo.cdn_url }}" alt="{{ user }}">
            </div>

            {#        end of profile of photo #}


            <div class="col-md-4 in-profile-header">
                <div class="row ">
                    <h2>{{ user }}</h2>
                    <div class="follow-button">
                        {% if user in people_following %}
                            <button class="btn btn-light btn-white btn-sm widen"><strong>Following</strong></button></a>
                        {% else %}
                            <a href="{% url 'follow' user_id=user.id %}"><button class="btn btn-primary btn-sm widen"><strong>Follow</strong></button></a>
                        {% endif %}
                    </div>
                </div>

                {#                ............................counters for posts followers and people being followed ................................#}

                <div class="row text-left small-counters">
                    <span class="col-md-4"><strong>{{ posts }}</strong> posts</span>
                    <span class="col-md-4"><strong>{{followers }}</strong> followers</span>
                    <span class="col-md-4 "><strong>{{ following }}</strong> following</span>
                </div>
                {#                end of counters#}

                <br>
                {#                bio#}

                <div class="row bio-profile ">
                    <p>{{ profile.bio }}</p>
                </div>
                {#                end of bio#}

            </div>

            <div class="col-md-4">
                {#                an empty div for alignment#}
            </div>

        </div>
        <br>
        <br>
        <hr>
        <div class="row text-center grid">

            {#        images for the profile#}

            {% for image in images %}
                <div class="col-md-4 grid-object">
                    <img class="img-fluid top-space" style="width:85%;height:100%;object-fit:cover;" src="{{ image.image.cdn_url }}" alt="{{ image.image_caption }}" data-toggle="modal" data-target="#{{image.id}}">
                </div>
            {% endfor %}

            {#        end of profile images#}

        </div>

        <!--modal starts here-->
        {% for image in images %}
            <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"> {{image.image_name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>{{ image.owner }}</strong></p>
                            <div class="card">
                                <img  src="{{image.image.cdn_url}}" class="img-fluid rounded element" align="{{ image.owner }}">
                                <img class="popUp"  src="{% static 'images/heart2.png' %}" alt="heart for popup">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal ends here-->
        {% endfor %}



    </div>

{% endblock %}


