.explore-main{
    padding-top: 3vh;
}

.explore-link{
    text-decoration-color: black;
    text-decoration: none;
    color: black;
}
.explore-link:hover{
     text-decoration-color: black;
    text-decoration: none;
    color: black;
}