.navbar-brand{
    font-size: 5vh;
}
.vr{
    font-weight: lighter;
    padding-right:10%;
}

.bg-white{
    background-color: #ffffff;
}

.logo{
    width : 35px;
    height: 35px;
}

.logo-container{
    padding-right:7%;
}

.site-brand-container{
    padding-left: 15%;
}

.search-container{
    padding-left: 15%;
}

.profile-icon{
    width : 24px;
    height: 24px;
}

.noti-icon{
    width: 24px;
    height: 24px;
}

.explore-icon{
    width: 28px;
    height: 28px;
}

.right-side-nav{
    padding-left: 30%;
}

.noti-icon-cont{
    padding-left: 15%;
}

.profile-icon-cont{
    padding-left: 35%;
}

.smaller-devices{
    text-align: center;
}
.smaller-devices{
    visibility: hidden;
}


/*...........................................................!*media queries *!...................................................*/

@media only screen and (min-device-width: 360px) and (max-device-width: 1024px){
    .larger-devices{
        display: none;
    }
    .smaller-devices{
        visibility: visible ;
    }
}

/*Galaxy S5*/
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait){
    .site-brand-container{
        padding-left: 35%;
    }
}

/*pixel 2*/
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation : portrait){
    .site-brand-container{
        padding-left: 33%;
    }
}

/*iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait){
    .site-brand-container{
        padding-left: 32%;
    }
    .larger-devices{
        display: none;
    }
    .smaller-devices{
        visibility: visible ;
    }
}

/*iphone 6, 7 , 8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait){
    .site-brand-container{
        padding-left: 35%;
    }
}

/*iphone X*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait){
    .site-brand-container{
        padding-left: 30%;
    }
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .site-brand-container{
        padding-left: 40%;
    }
}

/* iPads */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
    .site-brand-container{
        padding-left: 30%;
    }
}


@media only screen and (min-device-width: 1400px) and (max-device-width: 2200px){
    .explore-icon{
        width: 35px;
        height: 35px;
    }
    .noti-icon{
        width: 31px;
        height: 31px;
    }
    .profile-icon{
        width : 31px;
        height: 31px;
    }
}


